<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title><h:outputText value="#{indexBean.title}"/></title>
    </h:head>
    <h:body>
        <h1><h:outputText value="#{indexBean.title}"/></h1>
        <p>
            In this example we have mapped a number of the elements to new resource names, or pointed to external resources.<br/>
            <b>Note:</b> This example needs to be connected to the Internet to demonstrate.
        </p>
        <p>
            The mapping is handled by the file <i>static-resource-mappings.properties</i>, and is placed in the <b>META-INF</b> directory using the <b>&lt;resource/&gt;</b> element in the pom.xml file.
        </p>
        <p>
            The tiles displayed are using the <a href="http://www.drewgreenwell.com/projects/metrojs">Metro JS</a> framework by Drew Greenwell. 
        </p>
         <!-- Demo images and example from http://www.drewgreenwell.com/projects/metrojs It has been modified for use with JSF.-->
        <rich:panel header="Metro JS Tiles">
            <h:panelGrid columns="2">
                <h:panelGroup  styleClass="tiles blue tile-group one-wide">
                    <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000">
                        <h:panelGroup layout="block">
                            <h:graphicImage styleClass="full" name="1tw.gif" alt="1"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block">
                            <h:graphicImage styleClass="full" name="2t.gif" alt="2"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block">
                            <h:graphicImage styleClass="full" name="JohnDukeAward.jpg" alt="John Yeary with Duke&apos;s Choice Award"/>
                        </h:panelGroup>
                    </div>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="list-tile mango">
                    <ul class="flip-list fourTiles" data-mode="flip-list" data-delay="2000">
                        <li>
                            <div><h:graphicImage styleClass="full" name="1t.gif" alt="1"/></div>
                            <div><h:graphicImage styleClass="full" name="1tw.gif" alt="1"/></div>
                        </li>
                        <li>
                            <div><h:graphicImage styleClass="full" name="2t.gif" alt="2"/></div>
                            <div><h:graphicImage styleClass="full" name="2tw.gif" alt="2"/></div>
                        </li>
                        <li>
                            <div><h:graphicImage styleClass="full" name="3t.gif" alt="3"/></div>
                            <div><h:graphicImage styleClass="full" name="3tw.gif" alt="3"/></div>
                        </li>
                        <li data-direction="horizontal">
                            <div><h:graphicImage styleClass="full" name="4t.gif" alt="4"/></div>
                            <div><h:graphicImage styleClass="full" name="4tw.gif" alt="4"/></div>
                        </li>
                    </ul>
                </h:panelGroup>
            </h:panelGrid>
        </rich:panel>
        <h:outputScript name="jquery.js" target="head"/>
        <h:outputScript library="js" name="MetroJs.ltt.min.js"/>
        <h:outputStylesheet library="css" name="MetroJs.ltt.min.css"/>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".live-tile, .flip-list").liveTile();
            });
        </script>
    </h:body>
</html>